* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display:inline;
    background:#1A1919;
    width: 1520px;
    height: 2136px;
}

.header {

    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    background: #262424;
    height:50px ;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_first{
    min-height: 620px;
}