* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background:#1A1919;
}
.header {

    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    background: #262424;
    height:50px ;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_first{
    min-height: 620px;
}
.first_wrapper {
    margin: 0 auto;

width: 1447px;
height: 269px;
display: flex;
justify-content: space-between;
align-items: top;
}
.first_wrapper img {
width: 125px;
height: 200px;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
height: 60px;
background: #D9D9D9;
}
.genres {
    background: #262424;
display: flex;
justify-content: space-around;
align-items: center;
margin: 0 auto;
margin-top: 50px;
width: 1340px;
height: 100px;
}
.genres_item{
width: 200px;
height: 80px;
background-color: black ;
color: white;
border-radius: 30px;
text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
}
.section_second {
    min-height: 1566px;
}
.news {
padding: 0 43px 0 43px;
display: flex;
justify-content: space-between;
align-items: center;
width: 1050px;
height: 85px;

}
.hot {
color: #FFF;
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.more {
color: #2699D9;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.news_wrapper{
    display: flex;
    align-items: center;
    padding: 0px 10px 90px 10px;
}
.news_wrapper img {
width: 250px;
height: 285px;
border-top-right-radius: 30px;
border-top-left-radius: 30px;
}
.news_item {
    margin-right: 10px;
}
.news_text {
    color: #FFF;
    text-align: center;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
width: 250px;
height: 65px;
background: #D9D9D9;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
}